.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: 'Roboto', serif;
}

header {
  background-color: #97c0e6;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
}

p {
  font-size: 1em;
}

.logo {
  float: left;
}

.logo img {
  padding: 15px 30px;
}

nav {
  float: right;
  font-family: 'roboto slab', serif;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 30px;
}

nav li {
  display: inline-block;
  padding: 50px 20px;
  line-height: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

.banner {
  padding: 0 20px;
  position: relative;
  top: inherit;
}

.banner img {
  display: block;
  margin: 15px auto;
}

.wrapper {
  display: block;
  max-width: 950px;
  margin: 30px auto;
  padding: 0 20px;
}

.action1-4 {
  float: left;
  width: 22%;
  text-align: center;
  font-size: 1em;
  padding: 10px 13px;
  border-right: 1px solid black;
}

.action1-4:last-child {
  margin-right: 0;
  border-right: 0px;
}

.welcome-msg {
  float: left;
  width: 30%;
  font-size: .9em;
  padding: 20px 13px;
}

.news {
  float: right;
  width: 60%;
  font-size: 1em;
  padding: 20px 13px;
}

.sponsor {
  float: left;
  width:
}

input[type=text] {
  font-family: 'Roboto', serif;
}

input:valid {
  border: 1px solid black;
}

input:invalid {
  border: 1px solid red;
}

footer {
  clear: both;
  margin: 0 auto;
  padding: 20px;
  margin: 10px;
  font-size: .9em;
  font-weight: bold;
}

/* ==============
   Responsive CSS
   ============== */

/* Only on screens smaller than 768px */
@media (max-width: 768px) {

  .logo {
    float: none;
    text-align: center;
  }

  nav ul {
    float: none;
  }

  nav li {
    display: block;
    border-bottom: 1px solid white;
    padding: 0;
  }

  nav li:first-child {
    border-top: 1px solid white;
  }

  nav a {
    display: inline-block;
    padding: 35px 20px;
  }

  .action1-4 {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
}
