.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Roboto', serif;
  font-weight: 300;
}

header {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 15px;
  overflow: hidden;
}

.logo {
  float: left;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #96c0e6;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}

nav {
  float: right;
  font-weight: 500;
  color: black;
  font-size: 1.25em;
  width: auto;
  height: auto;
}

nav ul li {
  display: inline-block;
  padding: 50px 20px;
  line-height: 5px;
}

nav ul li:hover {
  background-color: #96c0e6;
  color: white;
}

nav ul li a:hover {
  color: white;
}

.banner {
  margin: 50px auto;
  height: 489px;
  background: url(../images/banner.jpg) no-repeat center;
}

.banner-vol {
  margin: 25px;
  height: 339px;
  background: url(../images/volunteer_banner.jpg) no-repeat center;
}

.buttons {
  max-width: 960px;
  margin: 40px auto;
  padding: 20px auto;
  position: relative;
}

.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.action1-4 {
  margin: 0 auto;
  width: 22%;
  text-align: center;
  font-size: 1em;
  /*border-right: 1px solid black;*/
  padding: 10px;
  position: relative;
  display: inline-block;
}

.action1-4:last-child {
  border-right: 0px;
}

.wrapper {
  max-width: 960px;
  margin: 30px auto;
  display: relative;
}

.welcome-msg {
  float: left;
  width: 45%;
  padding-bottom: 30px;
}

.news {
  float: right;
  width: 50%;
}

.connect {
  float: right;
  width: 50%;
  padding-bottom: 25px;
}

.success {
  clear: left;
  width: 45%;
  padding-bottom: 30px;
}

.icon {
  float: left;
  padding-right: 15px;
  transition: transform 0.5s ease;
  transform: scale(0.8);
}

.icon:hover {
  transform: scale(.9);
}

.story {
  float: left;
  padding-right: 15px;
  padding-bottom: 4px;
}

.sponsor {
  clear: left;
  width: 45%;
  padding-top: 10px;
}

footer {
  clear: both;
  height: 10px;
  width: 960px;
  margin: 50px auto;
  padding: 20px 0 20px;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #96c0e6;
  content: center;
}

.profile {
  padding-bottom: 30px;
}

.profile h3 {
  color: black;
}

.dog {
  float: left;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 50px;
}

/*volunteer page coding starts*/

.form {
  max-width: 600px;
  margin: 50px auto;
  display: relative;
  border: 1px solid black;
  padding: 10px;
}

.form h3 {
  background-color: grey;
}

textarea {
  width: 550px;
  height: 150px;
}

input[type=text] {
  font-family: 'Roboto', serif;
}

input:valid {
  border: 1px solid black;
}

input:invalid {
  border: 1px solid red;
}

input[type=button] {
  font-size: 2em;
}

/*volunteer page coding ends*/

.search {
  float: left;
  width: 25%;
  background-color: #d3e2f4;
  height: auto;
  color: white;
  padding: 25px;
  margin: 50px auto;
}

.search h1 {
  color: black;
}

.adoption-info {
  float: right;
  width: 60%;
  height: auto;
  margin: 50px auto;
}

.adoption-info a {
  color: black;
}

/*adoption search coding starts*/



/*adoption search coding ends*/

/* ==============
   Responsive CSS
   ============== */

/* Only on screens smaller than 768px */
@media (max-width: 768px) {

  .logo {
    float: none;
    text-align: center;
  }

  nav ul {
    float: none;
  }

  nav li {
    display: block;
    border-bottom: 1px solid white;
    padding: 0;
  }

  nav li:first-child {
    border-top: 1px solid white;
  }

  nav a {
    display: inline-block;
    padding: 35px 20px;
  }

  .action1-4 {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
}
