.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: bold;
}

header {
  background-color: #97c0e6;
}

p {
  margin: 20px;
  font-size: 1em;
}

.logo img {
  padding: 15px 30px;
}

.logo {
  float: left;
}

nav {
  font-weight: bold;
  float: right;
  color: white;
  font-size: 1.25em;
}

nav li {
  display: inline-block;
  padding: 50px 20px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
  text-transform: uppercase;

}

.banner {
  padding: 0 20px;
  position: relative;
  top: inherit;
}

.banner img {
  display: block;
  margin: 15px auto;

}

.wrapper {
  max-width: 1024px;
  margin: auto;
  overflow: hidden;
  padding: 2px;
}

.action1-4 {
  float: left;
  width: 25%;
  text-align: center;
}

footer {
  margin: 50px;
}

/* ==============
   Responsive CSS
   ============== */

/* Only on screens smaller than 768px */
@media (max-width: 768px) {

  /* Center the logo */
  .logo {
    float: none;
    text-align: center;
  }

  nav ul {
    float: none;
  }

  /* Make links full-width, remove padding */
  nav li {
    display: block;
    border-bottom: 1px solid white;
    padding: 0;
  }

  nav li:first-child {
    border-top: 1px solid white;
  }

  /* Give anchors padding so there's more surface area to tap on mobile */
  nav a {
    display: inline-block;
    padding: 35px 20px;
  }

  /* Undo float and set as full width */
  .action1-4 {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
}

/*


.button {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  color: inherit;
  display: block;
  text-align: center;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  border-radius: 5px;
}


*/
